<!doctype html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Eternal Dropocalypse - Log</title>
</head>

<body>
	<section class="section" id="logs" style="visibility: hidden">
		<div class="container">
			<div class="buttons has-addons is-right">
					<a class="button" rv-on-click="download">Download Log</a>
				  </div>
			<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" style="table-layout: fixed">
				<tbody>
					<tr rv-each-l="logs">
						<th style="white-space: nowrap; width:125px">{l.time}</th>
						
						<td>
							<span class="tag is-warning" rv-if="l.level.warn">Warning</span>
							<span class="tag is-danger" rv-if="l.level.error">Error</span>
							{l.msg}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</body>
<script type="text/javascript" src="pages.js"></script>

</html>